<!DOCTYPE html>
<html lang="lv">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
<body>
    <h1>Reģistrēties</h1>
    <form method="POST">
        <label for="vards">Vārds:</label><br>
        <input type="text" id="vards" name="vards" required><br>
        <label for="uzvards">Uzvārds:</label><br>
        <input type="text" id="uzvards" name="uzvards" required><br>
        <label for="lietotajvards">Lietotājvārds:</label><br>
        <input type="text" id="lietotajvards" name="lietotajvards" required><br>
        <button type="submit">Reģistrēt</button>
    </form>
</body>
</html>
